<% @page_title = "Dashboard" %>

<section class="owner-details">
	<%= current_user.name %>
</section>

<section class="kitten-cards" id="dashboard">
	<% @kittens.each do |kitten| %>
		<%= render 'cards', kitten: kitten %>
	<% end %>
</section>