<section class="kitten-cards" id="index">
	<% @kittens.each do |kitten| %>
		<% if user_signed_in? && kitten.user_id != current_user.id %>
			<%= render 'cards', kitten: kitten %>
		<% end %>
	<% end %>
</section>