@import '../theme/variables';

// Booking in

.booking-cards {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
  margin: 0 auto 0 auto;
  }

.booking-card {
  place-self: center stretch;
  a:hover {
	text-decoration: none;
	color: $primary;
	}
  }

.booking-card > * {
  line-height: 1;
  }