// Relates to the dashboard view

// Use Bootstrap breakpoints for consistency.
$bootstrap-sm: 576px;
$bootstrap-md: 768px;
$bootstrap-lg: 992px;
$bootstrap-xl: 1200px;

.dash-wrap {
	display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto 0 auto;
  @media all and (min-width: $bootstrap-md) {
	grid-template-columns: [left] 1fr [main] 2fr;
	}
  }

.dash-left {
  grid-column: left;
  padding: 1vw;
  
  }
.dash-profile-details {

  }

.dash-bookings {

  }

.dash-kitten-cards {
  padding: 1vw;
	grid-column: main;
  }

