@import '../theme/variables';

// Relates to the dashboard view

.dash-wrap {
	display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto 0 auto;
  @media all and (min-width: $bootstrap-md) {
	grid-template-columns: [left] 1fr [main] 3fr;
	}
  }

.dash-left {
  grid-column: left;
    }
.dash-kitten-cards {
	margin-left: 3vw;
	grid-column: main;
  }

