@import '../theme/variables';

// Kitten show page.

// Crop thumbnail images.
#gallery {
  img {
	max-height: 35vw;
	max-width: 35vw;
	object-fit: cover;
	
	@media (min-width: $bootstrap-sm) {
	  max-height: 18vw;
	  max-width: 18vw;
	  }
	
	@media (min-width: $bootstrap-lg) {
	  max-height: 8vw;
	  max-width: 8vw;
	  }
	}
  }

  // Crop images in the carousel
.carousel-item {
  img {
	height: 60vw;
	object-fit: cover;
	
	@media (min-width: $bootstrap-sm) {
	  height: 350px;
	  }
	}
  }


