@import '../theme/variables_light';

// Code below relates to the kitten cards on kitten index page & user dashboard

// Use Bootstrap breakpoints for consistency.
$bootstrap-sm: 576px;
$bootstrap-md: 768px;
$bootstrap-lg: 992px;
$bootstrap-xl: 1200px;

.kitten-cards {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  margin: 0 auto 0 auto;
  }

#index {
  @media (min-width: $bootstrap-md) {
	width: 80vw;
	}
  
  @media (min-width: $bootstrap-lg) {
	width: 75vw;
	}
  }

.kitten-card {
  place-self: center stretch;
  box-shadow: 0 0 .5rem $secondary;
  border-color: $primary;
  border-width: 1px;
  border-style: solid;
  border-radius: .5rem;
  a:hover {
	text-decoration: none;
	};
  }

.kitten-card:hover {
  box-shadow: 0 0 1rem $primary;
  }

.kitten-pawsed {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  }

.kitten-pawsed-flag {
  background: radial-gradient(circle, $primary 0%, rgba(0,0,0,0) 70%);
  border-radius: 50%;
  color: $light;
  text-align: center;
  }

.kitten-pawsed-info {
  display: none;
  align-self: center;
  text-align: center;
  width: 60%;
  height: fit-content;
  background-color: $secondary;
  color: $primary;
  font-size: x-small;
  font-style: italic;
  border-radius: 3px;
  }

.kitten-pawsed:hover {
  .kitten-pawsed-info {
	display: revert;
	}
  }

.kitten-card-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  height: 150px;
  border-radius: .5rem .5rem 0 0;
  display: block;
  }

.kitten-name {
  margin: -20px auto 0 auto;
  background-color: $primary;
  color: $light;
  text-align: center;
  box-shadow: 0 0 .5rem $primary;
  border-radius: .2rem;
  border-bottom-width: 1px;
  padding-bottom: .5rem;
	
  }

.kitten-business {
  display: flex;
  justify-content: space-evenly;
  table {
	color: $primary;
	font-size: large;
	th {
	  padding-right: 2rem;
	  }
	td {
	  padding-left: 2rem;
	  text-align: right;
	  }
	}
  }

.kitten-breed {
  display: block;
  padding: 0 1rem 0 1rem;
  width: fit-content;
  max-width: 80%;
  background-color: $secondary;
  box-shadow: 0 0 1rem $secondary;
  border-radius: 5px;
  color: $light;
  font-style: italic;
  margin: -10px auto 0 auto;
  text-align: center;
  }
