<% @page_title = "About kitnappd" %>

<section class="d-flex flex-column about-canva">
<div
	class="canva-embed"
	data-design-id="DAD2F8luV8k"
	data-height-ratio="0.5625"
	style="padding:56.2500% 5px 5px 5px;background:rgba(0,0,0,0.03);border-radius:8px;"
></div>
<script async src="https:&#x2F;&#x2F;sdk.canva.com&#x2F;v1&#x2F;embed.js"></script>
<a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAD2F8luV8k&#x2F;view?utm_content=DAD2F8luV8k&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener" class="text-center text-muted">Marketplace Application Presentation by Bianca Wilkinson</a>
</section>