<% @page_title = "kitnappd" %>
<div class="home-grid">
<section class="home-item">
<h4 class="text-center">Welcome to kitnappd - where you can find your dream kitten to play with!</h4>
</section>
	<section class="home-item">
		<div class="home-links">
			<%= link_to 'View Available Kittens', kittens_url, class: "btn btn-block btn-outline-primary btn-lg" %>
			<%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-block btn-outline-primary btn-lg" %>
		</div>
	</section>
	
	
<section class="home-item">
	<div class="home-youtube">
	<iframe src="https://www.youtube.com/embed/6FQsIfE7sZM" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
</section>

</div>