@import 'sass/kittens';
@import 'sass/kitten-cards';
@import 'sass/dashboard';
@import 'sass/bookings';
@import 'sass/page';

@import 'variables';
@import 'bootstrap';
@import 'bootswatch';

body {
  max-height: 100vh;
  }

main {
  margin-top: 42.5px;
  scroll-margin-top: 42.5px;
  padding: 2rem;
  min-height: calc(100vh - 4rem - 45px);
  }

h1, h2 {
  font-size: xx-large;
  }

h3, h4 {
  font-size: x-large;
  }

h5, h6 {
  font-size: large;
  }

h2, h4, h6 {
  font-weight: lighter;
  }

h2 {
  border-bottom: 1px solid;
  }

p, em, strong {
  font-size: small;
  }

.btn {
  margin: 1vw;
  }

// Login & user creation screens

.user-screens {
  max-width: 400px;
  }

// Page title (variable set ny each view to show the page title before all page views)

.app-page-title {
  padding-bottom: 1rem;
  }
