//@import 'page';
@import 'kittens';

@import 'theme/variables_light';
@import 'bootstrap';
@import 'theme/bootswatch_light';

body {
  max-height: 100vh;
  }

main {
  margin-top: 42.5px;
  scroll-margin-top: 42.5px;
  padding: 2rem;
  min-height: calc(100vh - 4rem - 45px);
  }