@import 'theme/variables_light';

// Code below relates to the kitten show page.

.kitten-imgs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }

.kitten-img {
  width: 14rem;
  height: 14rem;
  border-radius: .5rem;
  border-style: solid;
  border-color: $primary;
  border-width: .5px;
  }

// Code below relates to the kitten cards on kitten index page & user dashboard

.kitten-cards {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }

.kitten-card {
  place-self: center stretch;
  box-shadow: 0 0 .5rem $secondary;
  border-color: $primary;
  border-width: 1px;
  border-style: solid;
  border-radius: .5rem;
  a:hover {
	text-decoration: none;
	};
  }

.kitten-card:hover {
  box-shadow: 0 0 1rem $primary;
  width: 102%;
  height: 102%;
  }

.icon-group {
  display: inline-block;
  float: right;
  }

.icon {
  background: radial-gradient(circle, $primary 0%, rgba(0,0,0,0) 40%);
  border-radius: 50%;
  }

.kitten-card-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  height: 150px;
  border-radius: .5rem .5rem 0 0;
  display: block;
  }

.kitten-name {
  margin: -20px auto 0 auto;
  background-color: $primary;
  color: $light;
  text-align: center;
  box-shadow: 0 0 .5rem $primary;
  border-radius: .2rem;
  border-bottom-width: 1px;
  padding-bottom: .5rem;

  }

.kitten-price {
  display: flex;
  justify-content: space-evenly;
  table {
	color: $primary;
	font-size: large;
	th {
	  padding-right: 2rem;
	  }
	td {
	  padding-left: 2rem;
	  text-align: right;
	  }
	}
  }

.kitten-breed {
  display: block;
  padding: 0 1rem 0 1rem;
  width: fit-content;
  max-width: 80%;
  background-color: $secondary;
  box-shadow: 0 0 1rem $secondary;
  border-radius: 5px;
  color: $light;
  font-style: italic;
  margin: -10px auto 0 auto;
  text-align: center;
  }

