// Place all the styles related to the Kittens controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

.kitten-cards {
  margin: 0 auto;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

.kitten-card {
  box-shadow: 0 0 1rem lightgrey;
  border-radius: 1rem;
  }

.kitten-card-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  height: 15em;
  border-radius: 1rem 1rem 0 0;
  display: block;
  }

@media only screen and (max-height: 600px) {
  .kitten-cards {
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}
  .kitten-card-img {
	height: 9em;
	}
  }

.kitten-card-description {
  display: block;
  }

.kitten-card-row {
  padding: 1rem;
  display: flex;
  color: white;
  align-items: flex-end;
  align-self: stretch;
  height: 100%;
  }